html
    background-color: #000000
    
body
    margin: 0
    padding: 0 
    height: 100vh
    background: url(../img/first_section/bg.jpg)
    background-size: 100vw 100vh
    background-repeat: no-repeat
    font-family: 'Mulish', sans-serif
    font-weight: 700
    color: #ffffff
    display: flex
    flex-flow: wrap
    justify-content: center
a   
    text-decoration: none

.container
    width: 100%
    max-width: 1440px
    

.hero_section
    width: 100%
    height: 100vh
    display: flex
    flex-flow: column
    border-bottom: 2px solid #2F2E2E
    &_header
        width: 90%
        height: 70px
        display: flex
        justify-content: space-evenly
        align-items: center
        background-color: black
        padding: 6px 0 6px 0
        z-index: 10
        &_cont
            width: 100%
            max-width: 1440px
            height: 70px
            display: flex
            justify-content: center
            background-color: black
            position: fixed
            z-index: 10
        &_nav
            width: 400px
            display: flex
            justify-content: space-between
            &_cont
                height: 10px
                margin-bottom: 10px
                &_text
                    font-size: 16px
                    opacity: 0.5
                    cursor: pointer
                    transition: 0.5s
                    font-family: 'Mulish', sans-serif
                    font-weight: 700
                    color: #ffffff
                    &:hover
                        opacity: 1
                        transition: 0.5s
                        & + .hero_section_header_nav_cont_line
                            transition-duration: 0.5s
                            width: 100%
                            height: 2px
                            background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%)
                            margin-top: 5px
        &_btns
            width: 220px
            display: flex
            justify-content: space-between
            &_btn
                cursor: pointer
        &_logo
            cursor: pointer
    &_text_cont
        margin-top: 18%
        margin-left: 12%
        &_title
            font-family: "Marcellus", serif
            font-weight: normal
            font-size: 100px
            
            margin-left: -4px
        &_info
            width: 300px
            font-family: 'Mulish', sans-serif
            font-style: normal
            font-weight: 800
            font-size: 16px
            
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 19px
            &_age
                width: 60px
                height: 24px
                display: flex
                justify-content: center
                align-items: center
                border: 2px solid #326CFF
                border-radius: 15px
            &_rate
                display: flex
                align-items: center
                &_text
                    margin-left: 7px
        &_descr
            width: 468px
            font-family: 'Mulish', sans-serif
            font-style: normal
            font-weight: 400
            font-size: 18px
            color: #C2C2C2
            margin-top: 25px
        &_btns
            width: 400px
            display: flex
            justify-content: space-between
            margin-top: 25px
            &_btn
                width: 141px
                height: 50px
                background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%)
                box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5)
                border-radius: 100px
                border: none
                font-family: 'Mulish', sans-serif
                font-weight: 800
                font-size: 16px
                color: #ffffff
                cursor: pointer
                padding-top: 2px
                display: flex
                justify-content: center
                align-items: center
                &:hover
                    background: linear-gradient(316.53deg, #2ceca5 13.2%, #1a8ec5 71.54%)
                &_img
                    width: 14px
                    height: 18px
                    margin-right: 9px
            &_btn2
                width: 195px
                height: 50px
                background: #FFFFFF
                border-radius: 100px
                border: none
                font-family: 'Mulish', sans-serif
                font-weight: 800
                font-size: 16px
                color: #323232
                cursor: pointer
                &:hover
                    background: #cccccc
                    color: #0e0e0e

.trending_section
    &_tv_cont
        margin-top: 60px
        &_text
            display: flex
            align-items: center
            margin-bottom: 47px
            &_line
                width: 8px
                height: 35px
                background: linear-gradient(226.53deg, #26FFF2 13.2%, #326CFF 71.54%)
                border-radius: 50px
                font-family: Mulish
                font-weight: bold
                font-size: 28px
                margin-right: 11px
            &_span
                font-family: Mulish
                font-weight: bold
                font-size: 28px
                cursor: pointer
            &_arr
                font-size: 20px
                font-weight: 400
                margin-left: 11px
        &_films
            // display: flex
            // align-items: center
            // justify-content: space-between
            // min-width: 0
            &_film
                &_img
                    width: 203.53px
                    height: 309px
                    border-radius: 22px
                    cursor: pointer
                    &:hover
                        width: 203.53px
                        height: 309px
                        box-shadow: 0px 4px 50px -29px #26FFF2
            &_arr
                position: static
                cursor: pointer
                &_prev
                    transform: rotateZ(180deg)
    &_movies_cont
        margin-top: 60px
        &_text
            display: flex
            align-items: center
            margin-bottom: 47px
            &_line
                width: 8px
                height: 35px
                background: linear-gradient(226.53deg, #26FFF2 13.2%, #326CFF 71.54%)
                border-radius: 50px
                font-family: Mulish
                font-weight: bold
                font-size: 28px
                margin-right: 11px
            &_span
                font-family: Mulish
                font-weight: bold
                font-size: 28px
                cursor: pointer
            &_arr
                font-size: 20px
                font-weight: 400
                margin-left: 11px
        &_films
            display: flex
            align-items: center
            justify-content: space-between
            &_film
                width: 203.53px
                height: 309px
                border-radius: 22px
                cursor: pointer
                &_img
                    width: 203.53px
                    height: 309px
                    border-radius: 22px
                    cursor: pointer
                    &:hover
                        width: 203.53px
                        height: 309px
                        box-shadow: 0px 4px 50px -29px #26FFF2
            &_arr
                position: static
                cursor: pointer
    &_btn_cont
        margin-top: 55px
        &_btn
            width: 141px
            height: 50px
            background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%)
            box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5)
            border-radius: 100px
            border: none
            font-family: 'Mulish', sans-serif
            font-weight: 800
            font-size: 16px
            color: #FFFFFF
            cursor: pointer
            &:hover
                background: linear-gradient(316.53deg, #2ceca5 13.2%, #1a8ec5 71.54%)

.popular_section
    margin-top: 100px
    &_genres
        &_text
            display: flex
            align-items: center
            margin-bottom: 40px
            &_line
                width: 8px
                height: 35px
                background: linear-gradient(226.53deg, #26FFF2 13.2%, #326CFF 71.54%)
                border-radius: 50px
                font-family: Mulish
                font-weight: bold
                font-size: 28px
                margin-right: 11px
            &_span
                font-family: Mulish
                font-weight: bold
                font-size: 28px
                cursor: pointer
            &_arr
                font-size: 20px
                font-weight: 400
                margin-left: 11px
        &_cont_desks
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            row-gap: 1rem
            &_desk
                width: 340px
                height: 198px
                border-radius: 20px
                display: flex
                flex-wrap: wrap
                flex-direction: column
                align-items: center
                justify-content: center
                row-gap: 8px
                cursor: pointer
                &:hover
                    box-shadow: 0px 4px 50px -23px #26FFF2
    &_channels
        margin-top: 70px
        &_text
            display: flex
            align-items: center
            margin-bottom: 40px
            &_line
                width: 8px
                height: 35px
                background: linear-gradient(226.53deg, #26FFF2 13.2%, #326CFF 71.54%)
                border-radius: 50px
                font-family: Mulish
                font-weight: bold
                font-size: 28px
                margin-right: 11px
            &_span
                font-family: Mulish
                font-weight: bold
                font-size: 28px
                cursor: pointer
            &_arr
                font-size: 20px
                font-weight: 400
                margin-left: 11px
        &_channels
            display: flex
            align-items: center
            justify-content: space-between
            &_channel
                & div
                    width: 260px
                    height: 118px
                    background: #FFFFFF
                    border-radius: 20px
                    cursor: pointer
                    &:hover
                        box-shadow: 0px 4px 50px -29px #26FFF2
            &_arr
                position: static
                cursor: pointer
    &_a_and_d
        margin-top: 70px
        &_text
            display: flex
            align-items: center
            margin-bottom: 40px
            &_line
                width: 8px
                height: 35px
                background: linear-gradient(226.53deg, #26FFF2 13.2%, #326CFF 71.54%)
                border-radius: 50px
                font-family: Mulish
                font-weight: bold
                font-size: 28px
                margin-right: 11px
            &_span
                font-family: Mulish
                font-weight: bold
                font-size: 28px
                cursor: pointer
            &_arr
                font-size: 20px
                font-weight: 400
                margin-left: 11px
        &_people
            display: flex
            align-items: center
            justify-content: space-between
            &_person
                width: 190px
                height: 190px
                border-radius: 50%
                cursor: pointer
                margin-bottom: 23px
                &:hover
                    box-shadow: 0px 4px 50px -29px #26FFF2
                &_name
                    font-size: 18px
                &_cont
                    display: flex
                    flex-flow: wrap
                    justify-content: center
            &_arr
                position: static
                cursor: pointer

.first_banner
    width: 100%
    max-width: 1400px
    margin-top: 100px
    display: flex
    justify-content: center
    &_img
        width: 30%
        height: 30%
        min-width: 300px
        min-height: 110px
.sec_banner
    display: flex
    justify-content: center
    &_img
        width: 90%
        min-height: 162px
        max-width: 1000px
        max-height: 200px
        margin-top: 121px
        border-radius: 22px
        display: flex
        justify-content: space-around
        align-items: center
        &_text
            font-size: 49px
        &_btn
            width: 141px
            height: 50px
            background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%)
            box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5)
            border-radius: 100px
            border: none
            font-weight: 800
            font-size: 16px
            color: #ffffff
            cursor: pointer
            &:hover
                background: linear-gradient(316.53deg, #2ceca5 13.2%, #1a8ec5 71.54%)

.footer
    width: 100%
    margin-top: 121px
    background: #101012
    display: flex
    justify-content: center
    padding: 70px 0 70px 0
    &_cont
        width: 1440px
        display: flex
        justify-content: space-between
        align-items: center
        & a
            font-weight: 600
            font-size: 18px
            color: #C2C2C2
            text-decoration: none
            transition: 0.2s
            &:hover
                color: #ffffff
        &_logo_cont
            &_logo
            &_soc
                width: 100px
                margin-top: 21px
                display: flex
                align-items: center
                justify-content: space-between
                &_icon
                    cursor: pointer
        &_text_cont
            display: flex
            flex-direction: column
            row-gap: 20px
            
.slick
    &-track
        display: flex
        align-items: flex-start
    &-list
        overflow: hidden
        width: 1320px
    &-slider
        display: flex
        justify-content: center
        align-items: center
    
.slider
    & .slick
        &-arrow
            position: absolute
            margin: -30px 0px 0px 0px
            z-index: 1
            font-size: 0
            width: 30px
            height: 30px
            border: none
            cursor: pointer
            &.slick
                &-prev
                    left: 20px
                    background: url('../img/trending_section/arr.svg') 0 0 / 100% no-repeat
                    transform: rotateZ(180deg)
                &-next
                    right: 20px
                    background: url('../img/trending_section/arr.svg') 0 0 / 100% no-repeat
    &_third
        & .slick
            &-arrow
                position: absolute
                margin: -30px 0px 0px 0px
                z-index: 1
                font-size: 0
                width: 30px
                height: 30px
                border: none
                cursor: pointer
                &.slick
                    &-prev
                        left: 20px
                        background: url('../img/trending_section/arr.svg') 0 0 / 100% no-repeat
                        transform: rotateZ(180deg)
                    &-next
                        right: 20px
                        background: url('../img/trending_section/arr.svg') 0 0 / 100% no-repeat

#menu__toggle 
    opacity: 0
    &:checked ~ .menu__btn > span 
        transform: rotate(45deg)
        &::before 
            top: 0
            transform: rotate(0)
        
        &::after 
            top: 0
            transform: rotate(90deg)
        

    &:checked ~ .menu__box 
        visibility: visible
        right: 0

.menu__btn 
    display: flex
    align-items: center
    position: fixed
    top: 26px
    width: 26px
    height: 26px
    cursor: pointer
    z-index: 1
    & > span, > span::before, > span::after 
        display: block
        position: absolute
        width: 100%
        height: 2px
        background-color: #616161
        transition-duration: .25s

    & > span::before 
        content: ''
        top: -8px

    & > span::after 
        content: ''
        top: 8px


.menu__box 
    display: block
    position: fixed
    visibility: hidden
    top: 0
    right: -100%
    width: 100%
    height: 100%
    margin: 0
    padding: 80px 0
    list-style: none
    background-color: #000000
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2)
    transition-duration: .25s
    text-align: right

.menu__item 
    display: block
    padding: 12px 24px
    color: #ECEFF1
    font-size: 20px
    font-weight: 600
    text-decoration: none

.menu__box_soc
    display: flex
    justify-content: space-around
    width: 200px
    margin-top: 10px
    float: right

.pop-up_cont
    background: rgba(0, 0, 0, 0.83)
    width: 100vw
    height: 100vh
    display: none
    justify-content: center
    align-items: center
    position: fixed
    z-index: 11
    &_pop
        width: 200px
        height: 100px
        background: #1b1b1b
        z-index: 12
        &_exit_cont
            display: flex
            justify-content: flex-end
            &_exit
                padding: 0px 4px
                background: #c50000
                cursor: pointer
        &_text_cont
            text-align: center
            padding-top: 16px
            

@media (max-width: 1520px)
    .slick-list
        width: 910px

@media (max-width: 481px)
    body
        background-size: 300vw 100vh
        background-position-x: 55%
    .slick-list
        width: 210px
    .sec_banner
        &_img_text 
            font-size: 1em
        &_img
            padding: 0 4px
            &_btn
                font-size: 0.8em
    .hero_section
        &_text_cont
            margin-top: 53%
            margin-left: 14px
            &_title
                font-size: 2em
            &_info
                font-size: 0.8em
                width: 76%
            &_descr
                width: 82%
            &_btns
                width: 85%
                &_btn
                    width: 111px
                &_btn2
                    width: 162px
                    margin-left: 10px
        &_header
            justify-content: space-between
            padding: 0
            &_nav
                display: none
            &_logo
                width: 96px
            &_btns
                display: none
    .footer
        &_cont
            max-width: 1440px
            display: flex
            flex-flow: column
            justify-content: center
            align-items: center
            row-gap: 18px
            &_text_cont
                text-align: center
            &_logo_cont
                &_soc
                    width: 100%
    .popular_section
        &_genres_cont
            &_desks
                justify-content: center
                &_desk
                    width: 285px
                    height: 168px
        &_genres
            &_text
                margin-left: 5px
                &_line
                    height: 21px
                &_span
                    font-size: 1.3em
                &_arr
                    font-size: 1.1em
        &_channels
            &_text
                margin-left: 5px
                &_line
                    height: 21px
                &_span
                    font-size: 1.3em
                &_arr
                    font-size: 1.1em
        &_a_and_d
            &_text
                margin-left: 5px
                &_line
                    height: 21px
                &_span
                    font-size: 1.3em
                &_arr
                    font-size: 1.1em
    .trending_section
        &_tv_cont
            &_text
                margin-left: 5px
                &_line
                    height: 21px
                &_span
                    font-size: 1.3em
                &_arr
                    font-size: 1.1em
        &_movies_cont
            &_text
                margin-left: 5px
                &_line
                    height: 21px
                &_span
                    font-size: 1.3em
                &_arr
                    font-size: 1.1em
        &_btn_cont
            display: flex
            justify-content: center
    .menu__btn
        top: 20px
    
@media (min-width: 481px)
    body
        background-size: 200vw 100vh
        background-position-x: 57%

    .menu__box
        width: 200px

    .slick-list 
        width: 203px
    .hero_section
        &_text_cont
            margin-top: 53%
            margin-left: 3%
            &_title
                font-size: 3em
            &_descr
                width: 418px
        &_header
            padding: 0
            height: auto
            justify-content: space-between
            &_nav
                display: none
            &_btns
                display: none
            &_cont
                padding: 6px 0px 6px 0px
                height: 50px
            &_logo
                width: 105px

    .footer
        &_cont
            width: 217px
            display: flex
            flex-flow: column
            &_text_cont
                text-align: center
            &_logo_cont
                margin-bottom: 20px
                &_soc
                    width: 100%

    .trending_section
        &_tv_cont
            &_text
                margin-left: 5px
        &_movies_cont
            &_text
                margin-left: 5px
        &_btn_cont
            display: flex
            justify-content: center
    
    .popular_section
        &_genres
            &_text
                margin-left: 5px
            &_cont
                &_desks
                    justify-content: center
        &_channels
            &_text
                margin-left: 5px
        &_a_and_d
            &_text
                margin-left: 5px

    .sec_banner
        &_img
            &_text
                font-size: 1.3em
            &_btn
                font-size: 0.89em

    .menu__btn
        top: 17px

    .first_banner
        &_img
            width: 98%

@media (min-width: 685px)
    .popular_section
        &_genres
            &_cont
                &_desks
                    gap: 1rem
                    &_desk
                        width: 315px
                        height: 180px
    .hero_section
        &_text
            &_cont
                margin-top: 40%
    .slick-list
        width: 420px

@media (min-width: 600px)
    .slick-list 
        width: 420px

    .slider_third
        & .slick-list
            width: 262px

@media (min-width: 800px)
    .hero_section
        &_text_cont
            margin-top: 25%
            
    body
        background-size: 100vw 100vh
        background-position-x: 0

@media (min-width: 900px)
    .slick-list
        width: 625px
    
    .slider_third
        & .slick-list
            width: 533px

@media (min-width: 976px)
    .popular_section
        &_genres
            &_cont
                &_desks
                    justify-content: space-evenly

    .slider_third
        & .slick-list
            width: 856px

@media (min-width: 1000px)
    .footer_cont
        width: auto
        flex-flow: row
        column-gap: 1rem

    .hamburger-menu
        display: none

    .hero_section
        &_header
            &_nav
                display: flex
            &_btns
                display: flex

    .slick-list
        width: 845px

    .sec_banner_img_text
        font-size: 2.3em

@media (min-width: 1440px)
    .hero_section
        &_text
            &_cont
                margin-top: 20%
                margin-left: 5%

    .slick-list
        width: 1058px

    .slider
        & .slick-arrow
            &.slick-prev
                left: 8%
            &.slick-next
                right: 8%

    .slider_third
        & .slick-arrow
            &.slick-prev
                left: 8%
            &.slick-next
                right: 8%

@media (min-width: 2560px)
    .slider
        & .slick-arrow
            &.slick-prev
                left: 26%
            &.slick-next
                right: 26%
    
    .slider_third
        & .slick-arrow
            &.slick-prev
                left: 26%
            &.slick-next
                right: 26%

    .hero_section
        &_header
            width: 42%
            &_cont
                width: 57%

    body
        background-size: 56vw 100vh
        background-position-x: center

@media (max-height: 500px)
    .hero_section
        &_text_cont
            margin-top: 11%
            &_title
                font-size: 2.5em
            &_btns
                &_btn
                    width: 114px
                    height: 38px
                &_btn2
                    width: 160px
                    height: 38px
            &_descr
                font-size: 16px
            &_info
                font-size: 14px
